JWT_SECRET=your_jwt_secret_key
PGUSER=postgres
PGHOST=localhost
PGDATABASE=schoolLMS
PGPASSWORD=your_postgres_password
PGPORT=5432
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password
