.attendenceCard{
    width:30%;
    margin:0 5% 0;
    display: inline-block;
    background: #f9f9f9;
    border-left: 5px solid #007bff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}